{% extends 'base.html.twig' %}

{% block title %}Modules{% endblock %}

{% block body %}

<div class="uk-container">



    {% if slug|default == 'add' %}

    {% if course_id|default %}
    <h2>Modifier un module</h2>
    {% else %}
    <h2>Ajouter un module</h2>
    {% endif %}

    {% if formAddCourse|default %}

    <div class="uk-hr"></div>

    {{ form_start(formAddCourse, {'attr': {'class': 'uk-form uk-margin-top uk-grid-small', 'uk-grid' : '' }}) }}

    <div class="uk-width-1-2">
        {{ form_row(formAddCourse.nameCourse) }}
    </div>
    <div class="uk-width-1-2">
        {{ form_row(formAddCourse.category) }}
    </div>

    <div class="uk-width-1-1">
        {{ form_row(formAddCourse.Valider) }}
    </div>

    {{ form_end(formAddCourse) }}
    {% endif %}

    {% elseif courses|default %}

    <div class="ui divided items">

        {% for course in courses %}

        <div class="item">
            <div class="ui tiny image">
                <img src="{{ asset('img/' ~  course.nameCourse ~ '.jpg') }}">
            </div>
            <div class="middle aligned content">
                <h3>{{ course.nameCourse }}</h3>
            </div>

            <div class="uk-text-right uk-padding-top uk-margin-top">
                <a href="{{ path('edit_course', {'id': course.id }) }}" class="ui-button ui-widget ui-corner-all">
                    <i class="edit icon right floated"></i>
                </a>
                <a href="{{ path('delete_course', {'id': course.id }) }}" class="ui-button ui-widget ui-corner-all">
                    <i class="trash icon right floated"></i>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="uk-text-right uk-padding-top">
        <a href="{{ path('new_course') }}" class="ui-button ui-widget ui-corner-all">
            <i class="plus circle icon"></i>Ajouter
        </a>
    </div>
    {% else %}
    <h2>Aucune informations en base de données</h2>
    {% endif %}

</div>

{% endblock %}