{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
<div class="uk-container">

    {# session #}
    {% if slug == 'detail' %}

    <h1>Détails du stagiaire</h1>

    <table class="uk-table uk-table-responsive uk-table-hover uk-table-divider uk-table-small">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Code postal</th>
                <th>Téléphone</th>
                <th>Date de naissance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.address }}</td>
                <td>{{ student.city }}</td>
                <td>{{ student.zipCode }}</td>
                <td>{{ student.phoneNumber }}</td>
                <td>{{ student.birthday | date('d-m-Y') }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Sessions où le stagiaire est inscrit</h2>

    <table class="uk-table uk-table-responsive uk-table-hover uk-table-divider uk-table-small">
        <thead>
            {% for session in student.sessions %}
            <tr>
                <th>ID_session</th>
                <th>Début de session</th>
                <th>Fin de session</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ session.id }}</td>
                <td><a href="{{ path('detail_session', {'id': session.id }) }}">{{ session.dateStart | date('d-m-Y')}}</a></td>
                <td><a href="">{{ session.dateEnd | date('d-m-Y') }}</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

    {% else %}
    <h2>Aucune informations en base de données</h2>
    {% endif %}
</div>
{% endblock %}