{% extends 'base.html.twig' %}

{% block title %}Stagiaire{% endblock %}

{% block body %}
<div class="uk-container">

    {# session #}
    {% if student_id|default %}
    <h2>Modifier un stagiaire</h2>
    {% else %}
    <h2>Ajouter un stagiaire</h2>
    {% endif %}


    {% if formAddStudent|default %}

    <div class="uk-hr"></div>

    {{ form_start(formAddStudent, {'attr': {'class': 'uk-form uk-margin-top uk-grid-small', 'uk-grid' : '' }}) }}
    <div class="uk-width-1-4@s">
        {{ form_row(formAddStudent.firstName) }}
    </div>
    <div class="uk-width-1-4@s">
        {{ form_row(formAddStudent.lastName) }}
    </div>
    <div class="uk-width-1-4@s">
        {{ form_row(formAddStudent.phoneNumber) }}
    </div>
    <div class="uk-width-1-4@s">
        {{ form_row(formAddStudent.birthday) }}
    </div>
    <div class="uk-width-1-2@s">
        {{ form_row(formAddStudent.address) }}
    </div>
    <div class="uk-width-1-4@s">
        {{ form_row(formAddStudent.city) }}
    </div>
    <div class="uk-width-1-4@s">
        {{ form_row(formAddStudent.zipCode) }}
    </div>
    <div class="uk-width-1-1">
        {{ form_row(formAddStudent.Valider) }}
    </div>
    {{ form_end(formAddStudent) }}
    {% endif %}
 
</div>

{% endblock %}