{% extends 'base.html.twig' %}

{% block title %}Stagiaire{% endblock %}

{% block body %}
<div class="uk-container">

    {# session #}
    {% if student_id|default %}
    <h2>Modifier un stagiaire</h2>
    {% else %}
    <h2>Ajouter un stagiaire</h2>
    {% endif %}


    {% if formAddStudent|default %}

    <div class="uk-hr"></div>

    {{ form_start(formAddStudent, {'attr': {'class': 'uk-form uk-margin-top uk-grid-small', 'uk-grid' : '' }}) }}
    <div class="uk-width-1-4@s">
        {{ form_row(formAddStudent.firstName) }}
    </div>
    <div class="uk-width-1-4@s">
        {{ form_row(formAddStudent.lastName) }}
    </div>
    <div class="uk-width-1-4@s">
        {{ form_row(formAddStudent.phoneNumber) }}
    </div>
    <div class="uk-width-1-4@s">
        {{ form_row(formAddStudent.birthday) }}
    </div>
    <div class="uk-width-1-2@s">
        {{ form_row(formAddStudent.address) }}
    </div>
    <div class="uk-width-1-4@s">
        {{ form_row(formAddStudent.city) }}
    </div>
    <div class="uk-width-1-4@s">
        {{ form_row(formAddStudent.zipCode) }}
    </div>

    {% endif %}
    <div class="button-container">
        {{ form_row(formAddStudent.Valider) }}

        {% if student_id|default != null %}
        <a href="{{ path('detail_student', {'id' : 1}) }}" class="ui-button ui-widget ui-corner-all">
            <i class="times icon"></i>Annuler
        </a>
        {% endif %}
        <a href="{{ path('list_student') }}" class="ui-button ui-widget ui-corner-all">
            <i class="reply icon"></i>Retour Liste
        </a>
    </div>
    {{ form_end(formAddStudent) }}
</div>

{% endblock %}