{% extends 'base.html.twig' %}

{% block title %}Stagiaires{% endblock %}

{% block body %}

<script>
    //event.stopPropagation()
    function editStudent(event, url) {
        window.location = url;
    }
</script>

<div class="uk-container">

    {# list students #}
    {% if slug == 'list' %}

    <h1>Liste des stagiaires</h1>

    {% if students|default %}

    <table class="uk-table uk-table-responsive uk-table-hover uk-table-divider uk-table-small uk-table-justify">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Code postal</th>
                <th>Téléphone</th>
                <th>Date de naissance</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr onclick="window.location='{{ path('detail_student', {'id': student.id }) }}';" style="cursor:pointer;">
                <td>{{ student.id }}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.address }}</td>
                <td>{{ student.city }}</td>
                <td>{{ student.zipCode }}</td>
                <td>{{ student.phoneNumber }}</td>
                <td>{{ student.birthday | date('d-m-Y') }}</td>
                <td><a href="#" class="token-link uk-icon-button uk-margin-small-right" uk-icon="icon: pencil" uk-tooltip="title: Éditer; pos: top-left"
                        onclick="editStudent(event, '{{ path('edit_student', {'id': student.id }) }}'); event.stopPropagation();"></a>
                </td>
                <td><a href="#" class="token-link uk-icon-button uk-margin-small-right uk-text-danger" uk-icon="icon: trash" uk-tooltip="title: Supprimer; pos: top-left"></a></td>
            </tr>
            

            
            {% endfor %}
        </tbody>
    </table>
    <p class="uk-width-1-1 uk-text-right" uk-margin>
        <a href="{{ path('new_student') }}" class="uk-button uk-button-primary uk-button-small">Ajouter un stagiaire</a>
        <a class="uk-button uk-button-secondary uk-button-small">Supprimer un stagiaire</a>
    </p>

    {% else %}
    <h2>Aucune informations en base de données</h2>
    {% endif %}
    {% endif %}
</div>
{% endblock %}