{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}

<div class="uk-container">
    
    <div class="uk-animation-slide-bottom">
        <p class="uk-text-center" ><h1>Liste des formations</h1></p>
    </div>
            
    <div class="separator"></div>


    {% if formations|default %}
    <div class="ui stackable divided grid">

        {% for formation in formations %}

        <div class="five wide column">

            <div class="ui divided items">
                <div class="item uk-animation-fade">

                    <div class="ui small centered image">
                        <img src="{{ asset('img/' ~  formation.name ~ '.jpg') }}">
                    </div>

                    <div class="content">
                        <a class="header">{{ formation.name }}</a>
                        <div class="meta">
                            <span class="cinema">Inscrits:0</span>
                            <span class="cinema">ID:{{ formation.id }}</span>
                        </div>
                        <div class="description">
                            <p></p>
                        </div>
                        <div class="extra">
                            <div class="ui label">Formateur</div>
                            <div class="ui label"><a href="{{ path('detail_formation', {'id': formation.id}) }}"><i
                                        class="list ol icon"></i>Module</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h2>Aucune informations en base de données</h2>
    {% endif %}


    {% if slug|default == 'add' %}

    {% if formAddFormation|default %}

    <h2>Ajouter une Formation</h2>

    <div class="uk-hr"></div>

    {{ form_start(formAddFormation, {'attr': {'class': 'uk-form uk-margin-top uk-grid-small', 'uk-grid' : '' }}) }}

    <div class="uk-width-1-1">
        {{ form_row(formAddFormation.name)}}
    </div>
    <div class="uk-width-1-1">
        {{ form_row(formAddFormation.Valider) }}
    </div>

    {{ form_end(formAddFormation) }}
    {% endif %}
    {% endif %}

</div>
{% endblock %}