{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}

<div class="uk-container">

    {# list cateories #}
    <div class="uk-animation-slide-bottom">
        <p class="uk-text-center">
        <h1>Liste des catégories</h1>
        </p>
    </div>



    <div class="separator"></div>

    {% if categories|default %}
    <div class="tabs-active uk-animation-fade">
        <ul>
            <li><a href="#fragment-1">Catégories</a></li>
            {# <li><a href="#fragment-2">Two</a></li> #}
        </ul>

        <div id="fragment-1" class="ui">
            <div id="tabs" class="uk-animation-fade">
                <div class="ui grid">

                    <div class="four wide column">
                        <ul class="ui items">
                            {% for categorie in categories %}
                            <li class="ui feed">
                                <div class="event">
                                    <div class="label">
                                        <img src="{{ asset('img/png/' ~  categorie ~ '.png') }}">
                                    </div>
                                    <div class="content">
                                        <a href="#tabs-{{ loop.index }}">{{ categorie.name }}</a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="ten wide column">
                        {% for categorie in categories %}
                        <div id="tabs-{{ loop.index }}">
                            <h2>{{ categorie.name }}</h2>
                            <!-- Contenu de l'onglet -->
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
            {# <div class="extra">
                <div class="ui right floated">
                    <a href="{{ path('delete_category', {'id': categorie.id }) }}">
                        <i class="trash icon right floated"></i>
                    </a>
                    <a href="{{ path('edit_category', {'id': categorie.id }) }}">
                        <i class="edit icon right floated"></i>
                    </a>

                </div>
            </div> #}
        </div>
    </div>

    <p class="uk-width-1-1 uk-text-right" uk-margin>
        <a href="{{ path('new_category') }}" class="uk-button uk-button-primary uk-button-small">Ajouter une
            catégorie</a>
    </p>

    {% else %}
    <h2>Aucune informations en base de données</h2>
    {% endif %}


    {# ajouter une catégorie #}
    {% if slug|default == 'add' %}

    {% if formAddCategory|default %}

    <h2>Ajouter une Catégorie</h2>

    <div class="uk-hr"></div>

    {{ form_start(formAddCategory, {'attr': {'class': 'uk-form uk-margin-top uk-grid-small', 'uk-grid' : '' }})
    }}

    <div class="uk-width-1-1">
        {{ form_row(formAddCategory.name) }}
    </div>
    <div class="uk-width-1-1">
        {{ form_row(formAddCategory.Valider) }}
    </div>

    {{ form_end(formAddCategory) }}
    {% endif %}
    {% endif %}

</div>
{% endblock %}