{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}

<div class="uk-container">

    {# list cateories #}
    <div class="uk-animation-slide-bottom">
        <p class="uk-text-center">
        <h1>Liste des catégories</h1>
        </p>
    </div>

    <div class="separator"></div>

    {% if categories|default %}

    {% for categorie in categories %}

    <div class="ui items">
        <div class="item uk-animation-fade">
            <div class="ui tiny image">
                <img src="{{ asset('img/' ~  categorie ~ '.jpg') }}">
            </div>
            <div class="middle aligned content">
                <div class="header">
                    {{ categorie }}
                </div>
                <div class="description">
                    <p></p>
                </div>
                <div class="extra">
                    <div class="ui right floated">
                        <a href="{{ path('delete_category', {'id': categorie.id }) }}">
                            <i class="trash icon right floated"></i>
                        </a>
                        <a href="{{ path('edit_category', {'id': categorie.id }) }}">
                            <i class="edit icon right floated"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <p class="uk-width-1-1 uk-text-right" uk-margin>
        <a href="{{ path('new_category') }}" class="uk-button uk-button-primary uk-button-small">Ajouter une
            catégorie</a>
    </p>

    {% else %}
    <h2>Aucune informations en base de données</h2>
    {% endif %}


    {# ajouter une catégorie #}
    {% if slug|default == 'add' %}

    {% if formAddCategory|default %}

    <h2>Ajouter une Catégorie</h2>

    <div class="uk-hr"></div>

    {{ form_start(formAddCategory, {'attr': {'class': 'uk-form uk-margin-top uk-grid-small', 'uk-grid' : '' }})
    }}

    <div class="uk-width-1-1">
        {{ form_row(formAddCategory.name) }}
    </div>
    <div class="uk-width-1-1">
        {{ form_row(formAddCategory.Valider) }}
    </div>

    {{ form_end(formAddCategory) }}
    {% endif %}
    {% endif %}

</div>
{% endblock %}