{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
<div class="uk-container">
    {# program #}
    {% if slug == 'program' %}

    <h1>Liste des programmes</h1>

    {% if programs|default %}

    <table class="uk-table uk-table-hover uk-table-divider uk-table-small">
        <thead>
            <tr>
                <th>Id</th>
                <th>Session_id</th>
                <th>Début</th>
                <th>Fin</th>
                <th>ID Module</th>
                <th>Module</th>
                <th>Durée en jours:</th>
            </tr>
        </thead>
        <tbody>
            {% for program in programs %}
            <tr>
                <td><a href="{{ path('detail_program', {'id': program.id }) }}">{{ program.id }}</a></td>
                <td><a href="{{ path('detail_program', {'id': program.id }) }}">{{ program.session.id }}</a></td>
                <td><a href="{{ path('detail_program', {'id': program.id }) }}">{{ program.session.dateStart | date('d-m-Y') }}</a></td>
                <td><a href="{{ path('detail_program', {'id': program.id }) }}">{{ program.session.dateEnd | date('d-m-Y') }}</a></td>
                <td><a href="{{ path('detail_program', {'id': program.id }) }}">{{ program.course.id }}</a></td>
                <td><a href="{{ path('detail_program', {'id': program.id }) }}">{{ program.course.nameCourse }}</a></td>
                <td><a href="{{ path('detail_program', {'id': program.id }) }}">{{ program.days }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2>Aucune informations en base de données</h2>
    {% endif %}
    {% endif %}

</div>
{% endblock %}