{% block navbar %}

<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar="dropbar: false;" data-uk-sticky="show-on-up: true; animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky uk-section-primary uk-light; bottom: #scrollup-dropdown">
    <div class="uk-container">
        <div uk-navbar>
            <div class="uk-navbar-center">
                <div class="uk-navbar-center-left">
                    <ul class="uk-navbar-nav">
                        <li><a href="{{ path('list_formation') }}">Formations</a></li>
                        <li><a href="{{ path('list_session') }}">Sessions</a></li>
                        <li><a href="{{ path('list_category') }}">Catégories</a></li>
                        <li><a href="{{ path('list_course') }}">Modules</a></li>
                    </ul>
                </div>
                <a class="uk-navbar-item uk-logo container-logo" href="{{ asset('home') }}">
                    {# <img class="logo" src="{{ asset('img/education.jpg') }}" alt="Education tagline"> #}
                    <div class="ui tiny image">
                        <img src="{{ asset('img/education.jpg') }}">
                    </div>
                </a>
                
                <div class="uk-navbar-center-right">
                    <ul class="uk-navbar-nav">
                        
                        <li><a href="{{ path('list_program') }}">Programes</a></li>
                        <li><a href="{{ path('list_trainer') }}">Formateurs</a></li>
                        <li><a href="{{ path('list_student') }}">Stagiaires</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
{% endblock %}