{% block navbar %}

<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar="dropbar: false;" data-uk-sticky="show-on-up: true; animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky uk-section-primary uk-light; bottom: #scrollup-dropdown">
    <div class="uk-container">
        <div uk-navbar>
            <div class="uk-navbar-center">
                <div class="uk-navbar-center-left">
                    <ul class="uk-navbar-nav">
                        <li><a href="{{ asset('session/list') }}">Sessions</a></li>
                        <li><a href="{{ asset('formation/list') }}">Formations</a></li>
                        <li><a href="{{ asset('category/list') }}">Catégories</a></li>
                    </ul>
                </div>
                <a class="uk-navbar-item uk-logo container-logo" href="{{ asset('formation') }}">
                    <img class="logo" src="{{ asset('img/education.jpg') }}" alt="Education tagline">
                </a>
                <div class="uk-navbar-center-right">
                    <ul class="uk-navbar-nav">
                        <li><a href="{{ asset('program/list') }}">Programmes</a></li>
                        <li><a href="{{ asset('trainer/list') }}">Formateurs</a></li>
                        <li><a href="{{ asset('student/list') }}">Stagiaires</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
{% endblock %}