{% block navbar %}
<div class="ui menu navbar">
    <div class="ui container">
        <div class="navbar-content uk-navbar uk-padding">
            <div class="uk-navbar-center">
                <nav class="navbar-links">
                    <ul class="uk-navbar-nav">
                        <li><a href="{{ path('list_formation') }}">Formations</a></li>
                        <li><a href="{{ path('list_session') }}">Sessions</a></li>
                        <li><a href="{{ path('list_category') }}">Catégories</a></li>
                        <li><a href="{{ path('list_course') }}">Modules</a></li>
                    </ul>
                    <a class="uk-navbar-item uk-logo container-logo" href="{{ asset('home') }}">
                        <div class="ui tiny image">
                            <img src="{{ asset('img/education.jpg') }}">
                        </div>
                    </a>
                    <ul class="uk-navbar-nav">
                        <li><a href="{{ path('list_program') }}">Programes</a></li>
                        <li><a href="{{ path('list_trainer') }}">Formateurs</a></li>
                        <li><a href="{{ path('list_student') }}">Stagiaires</a></li>
                    </ul>
                </nav>
            </div>
            <nav class="right-menu">
                {% if app.user %}
                <div class="item">
                    <div class="middle aligned content">
                        <a class="header">Bienvenue {{ app.user.username }}</a>
                    </div>
                </div>
                <div class="navbar-links">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a class="header" href="{{ path('logout') }}">Se déconnecter</a>
                        </li>
                        <li><a class="header" href="{{ path('profile') }}">Mon profil</a></li>
                    </ul>
                    
                </div>

                {% else %}
                <div class="navbar-links">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a class="header" href="{{ path('login') }}">Se connecter</a>
                        </li>
                        <li>
                            <a class="header" href="{{ path('register') }}">S'enregistrer</a>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </nav>
        </div>
    </div>
</div>
{% endblock %}