{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
<div class="uk-container">

    {# session #}
    {% if slug == 'detail' %}

    <h1>Détails de la sessions</h1>

    {% if session|default %}

    <table class="uk-table uk-table-responsive uk-table-hover uk-table-divider uk-table-small">
        <thead>
            <tr>
                <th>Session id:</th>
                <th>Formation id:</th>
                <th>Places:</th>
                <th>Date début</th>
                <th>Date fin</th>
                <th>Inscrits</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ session.id }}</td>
                <td>{{ session.formation.id }}</td>
                <td>{{ session.maxstudents }}</td>
                <td>{{ session.datestart | date("j-m-Y") }}</td>
                <td>{{ session.dateend | date("j-m-Y") }}</td>
                <td>{{ session.reservations }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}





    <div class="ui top attached tabular menu">
        <a class="item active" href="#modules" data-tab="modules">
            Modules
        </a>
        <a class="item" href="#inscrits" data-tab="inscrits">
            Inscrits
        </a>
        <a class="item" href="#not-inscrits" data-tab="not-inscrits">
            Non inscrits
        </a>

        <div class="right menu">
            <div class="item">
                <div class="ui transparent icon input">
                    <input type="text" placeholder="rechercher stagiaire...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>







    <div class="ui bottom attached segment" id="content">


        <div class="ui tab active" data-tab="modules">
            {# list of students registered for the session #}
            {% if session.students|default %}
            <ul class="uk-list">
                {% for program in session.programs %}
                <li>{{program.course.namecourse }} durée: {{program.days}} jours</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>












        <div class="ui tab" data-tab="inscrits">

            {% if session.students|default %}

            <h3>Liste des stagiaires inscrits<span>({{ session.students | length }})</span></h3>
            <table class="uk-table uk-table-responsive uk-table-hover uk-table-divider uk-table-small">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Adresse</th>
                        <th>Ville</th>
                        <th>Téléphone</th>
                        <th>Date de naissance</th>
                        <th>Code postal</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in session.students %}
                    <tr onclick="window.location='{{ path('detail_student', {'id': student.id }) }}';"
                        style="cursor:pointer;">
                        <td>{{ student.id }}</td>
                        <td>{{ student.firstName }}</td>
                        <td>{{ student.lastName }}</td>
                        <td>{{ student.address }}</td>
                        <td>{{ student.city }}</td>
                        <td>{{ student.phoneNumber }}</td>
                        <td>{{ student.birthday | date('d-m-Y')}}</td>
                        <td>{{ student.zipCode }}</td>
                        <td>
                            <a href="#" uk-tooltip="title: Éditer; pos: top-left"
                                onclick="editSession(event, '{{ path('remove_student_from_session', {'sessionId': session.id, 'studentId': student.id }) }}'); event.stopPropagation();"
                                class="ui-button ui-widget ui-corner-all">
                                <i class="trash icon"></i>
                            </a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% else %}
            <h2>Aucune informations en base de données</h2>
            {% endif %}
        </div>

        <div class="ui tab" data-tab="not-inscrits">

            {% if notRegister|default %}

            <h3>Liste des stagiaires non inscrits: <span>({{ notRegister | length }})</span></h3>

            <table class="uk-table uk-table-responsive uk-table-hover uk-table-divider uk-table-small">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Adresse</th>
                        <th>Ville</th>
                        <th>Téléphone</th>
                        <th>Date de naissance</th>
                        <th>Code postal</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in notRegister %}
                    <tr onclick="window.location='{{ path('detail_student', {'id': student.id }) }}';"
                        style="cursor:pointer;">
                        <td>{{ student.id }}</td>
                        <td>{{ student.firstName }}</td>
                        <td>{{ student.lastName }}</td>
                        <td>{{ student.address }}</td>
                        <td>{{ student.city }}</td>
                        <td>{{ student.phoneNumber }}</td>
                        <td>{{ student.birthday | date('d-m-Y')}}</td>
                        <td>{{ student.zipCode }}</td>
                        <td>
                            <a href="#" uk-tooltip="title: Éditer; pos: top-left"
                                onclick="editSession(event, '{{ path('add_student_to_session', {'sessionId': session.id, 'studentId': student.id }) }}'); event.stopPropagation();"
                                class="ui-button ui-widget ui-corner-all">
                                <i class="plus icon"></i>
                            </a>
                        </td>


                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% else %}
            <h2>Tous les stagiaires sont inscrit</h2>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="uk-text-right uk-padding-top">
        <a href="{{ path('new_session') }}" class="ui-button ui-widget ui-corner-all">
            <i class="plus circle icon"></i>Ajouter Session
        </a>
    </div>
</div>
{% endblock %}