<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Session!{% endblock %}</title>
    {% block stylesheets %}
    {# icons semantic #}
    <link rel="stylesheet" href="{{ asset('css/semantic.min.css') }}">
    {# not work #}
    {# <link rel="stylesheet" href="{{ asset('css/icon.min.css') }}"> #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css">

    {# uikit ui #}
    <link rel="stylesheet" href="{{ asset('css/uikit.min.css') }}">
    {# jquery ui #}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    {# custom style #}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    
    {% endblock %}
</head>
{# navbar #}

<body>
    {# header #}
    <header id="pageHeader">{% include 'navbar/navbar.html.twig' %}</header>
    {# article #}
    <article id="mainArticle">{% block body %}{% endblock %}</article>
    {# footer #}
    <footer id="pageFooter">{% include 'footer/footer.html.twig' %}</footer>
    {% block javascripts %}
    {#
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> #}
    <script src={{ asset("js/uikit.min.js") }}></script>
    <script src={{ asset("js/uikit-icons.min.js") }}></script>
    <script src={{ asset("js/semantic.min.js") }}></script>
    {{ importmap() }}
    {% endblock %}
</body>

</html>